@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body {
  margin: 0px 0px 0px 0px;
  width: 100%;
  margin: 0px 0px 0px 0px;
  -webkit-animation: fade-in 1s linear;
  animation: fade-in 1s linear;
  background: #F2F2F2;
  font-family: "Segoe UI";
}

.wrapper {
  display: grid;
  padding: 2px 2px;
}

.inner_container {
  max-width: 100%;
  margin: 0 auto;
}

.login_wrapper {
  top: 0;
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto auto auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F2F2F2;
}

.network_status {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.network_status p {
  text-align: center;
  color: #27262a;
}

#indicator {
  width: 100px;
  -webkit-filter: invert(12%) sepia(7%) saturate(590%) hue-rotate(214deg) brightness(100%) contrast(93%);
          filter: invert(12%) sepia(7%) saturate(590%) hue-rotate(214deg) brightness(100%) contrast(93%);
}

.login_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 280px;
}

.login_form p {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #27262a;
}

.login_form input {
  height: 60px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  padding-left: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 37px;
  color: #27262a;
}

#error_login_text {
  display: none;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #C03434;
  margin-top: 5px;
  margin-bottom: 0px;
}

.login_form button {
  margin-top: 50px;
  height: 60px;
  background: #fbfbfb;
  border-radius: 5px;
  color: #27262a;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  border: 1px solid #eaeaea;
  -webkit-box-shadow: 0px 1px #d4d4d4;
          box-shadow: 0px 1px #d4d4d4;
  cursor: pointer;
}

.login_form button:hover {
  border: none;
  background-color: #0363c3;
  -webkit-box-shadow: 0px 1px #003b87;
          box-shadow: 0px 1px #003b87;
  color: #fbfbfb;
}

.login_footer {
  position: fixed;
  bottom: 0px;
  text-align: center;
  width: 100%;
}

header {
  height: 42px;
}

header img {
  width: 30px;
  -webkit-filter: invert(12%) sepia(7%) saturate(590%) hue-rotate(214deg) brightness(100%) contrast(93%);
          filter: invert(12%) sepia(7%) saturate(590%) hue-rotate(214deg) brightness(100%) contrast(93%);
}

.header_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user_icon_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user_name {
  color: #27262a;
  padding: 5px 10px;
}

.calendar-date {
  color: #27262a;
  padding: 5px 10px;
}

.main_menu_wrapper {
  display: none;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main_menu {
  width: 95%;
  margin: auto;
}

.main_menu button {
  margin-top: 10px;
}

.scanerDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 88888;
  position: fixed;
  top: 40px;
  bottom: 65px;
  width: 100%;
  background-color: #F2F2F2;
}

.scanerDiv input {
  height: 40px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  padding-left: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 37px;
  color: #27262a;
  margin: 10px;
  width: 100%;
}

footer img {
  width: 30px;
  -webkit-filter: invert(12%) sepia(7%) saturate(590%) hue-rotate(214deg) brightness(100%) contrast(93%);
          filter: invert(12%) sepia(7%) saturate(590%) hue-rotate(214deg) brightness(100%) contrast(93%);
}

.footer_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 0px;
  margin-left: -2px;
  text-align: center;
  width: 100%;
  height: 66px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3%;
}

._btn {
  width: 99%;
  height: 60px;
  cursor: pointer;
  background-color: #fbfbfb;
  border: 1px solid #eaeaea;
  -webkit-box-shadow: 0px 1px #d4d4d4;
          box-shadow: 0px 1px #d4d4d4;
  border-radius: 5px;
  margin: 2px 2px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #27262a;
}

._btn:hover {
  border: none;
  background-color: #0363c3;
  -webkit-box-shadow: 0px 1px #003b87;
          box-shadow: 0px 1px #003b87;
  color: #fbfbfb;
}

._btn:hover img {
  -webkit-filter: invert(96%) sepia(89%) saturate(29%) hue-rotate(325deg) brightness(110%) contrast(97%);
          filter: invert(96%) sepia(89%) saturate(29%) hue-rotate(325deg) brightness(110%) contrast(97%);
}